*.env
.env
.env.*
!.env.example
!*.env.example
client/.env
client/.env.*
!client/.env.example
functions/.env
functions/.env.*
!functions/.env.example
*.log
node_modules/
functions/node_modules/
functions/.runtimeconfig.json
firebase-debug.log
firebase-debug.*.log
