* {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #fcf7ff;
}

button, input, textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}
